@import url("https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@400;700&display=swap");

body,
html {
  height: 100%;
  margin: 0;
  font-family: "Roboto Mono", sans-serif;
  background-color: #f4f4f4;
}

.extension-container {
  background-color: #fff;
  width: 350px;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  border-color: #4caf50;
  border-style: solid;
  border-width: 2px;
  overflow: hidden;
  margin: 20px auto;
  padding: 20px;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
  border-bottom: 2px solid #4caf50; /* Add a thin green line */
  padding-bottom: 10px; /* Add some padding to separate the line from the content below */
}

.text-logo {
  display: inline-block;
  background-color: #4caf50;
  color: white;
  padding: 10px 20px;
  font-size: 20px;
  font-weight: bold;
  border-radius: 20px;
  box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.2);
}

.switch {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 34px;
}

.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  transition: 0.4s;
  border-radius: 34px;
}

.slider:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  transition: 0.4s;
  border-radius: 50%;
}

input:checked + .slider {
  background-color: #2196f3;
}

.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}

.dialogue-window {
  background-color: #eceff1;
  padding: 15px;
  border-radius: 4px;
  color: #333;
  font-size: 16px;
  min-height: 60px;
  border: 2px solid #4caf50; /* Add a green border */
}

.slider:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px; /* Ball starts on the left */
  bottom: 4px;
  background-color: white;
  transition: 0.4s;
  border-radius: 50%;
}

input:checked + .slider:before {
  transform: translateX(26px); /* Ball moves to the right */
}
